<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Task</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">

</head>
<body>
<h1>Hi, {{username}}</h1>
<img src="/static/a1.png">

    <ul class="topnav">
        

        <li ><a href="{{ url_for('logout') }}" class="active" >logout</a></li>
        
        <li><a href="{{ url_for('calendar') }}">Calendar</a></li>
        <li class="right"><a href="{{ url_for('about') }}">About</a></li>
    </ul>
   
    
    
<div class="main" >

<div class="box">
<div class="top-box">
    <p>Monday</p>
    
</div>
<div class="input-type">
    
    <button id="myButton">+</button>
</div>
</div>
<!-- /////////// -->
<div class="box">
    <div class="top-box">
        <p>Tuesday</p>
        
    </div>
    <div class="input-type">
        
        <button id="myButton2">+</button>
    </div>
    </div>
<!-- ////////// -->
<div class="box">
    <div class="top-box">
        <p>Wednesday</p>
        
    </div>
    <div class="input-type">
        
        <button id="myButton3">+</button>
    </div>
    </div>
<!-- /////////// -->
<div class="box">
    <div class="top-box">
        <p>Thursday</p>
        
    </div>
    <div class="input-type">
        
        <button id="myButton4">+</button>
    </div>
    </div>
<!-- //////////// -->
<div class="box">
    <div class="top-box">
        <p>Friday</p>
        
    </div>
    <div class="input-type">
        
        <button id="myButton5">+</button>
    </div>
    </div>
<!-- ///////////// -->
<div class="box">
    <div class="top-box">
        <p>Saturday</p>
        
    </div>
    <div class="input-type">
        
        <button id="myButton6">+</button>
    </div>
    </div>
<!-- //////////// -->
<div class="box">
    <div class="top-box">
        <p>Sunday</p>
        
    </div>
    <div class="input-type">
        
        <button id="myButton7">+</button>
    </div>
    </div>

    



<div id="myPopup" class="popup">
    <div class="popup-content">
        <h1 style="color:rgb(217, 75, 10);">
              Select your daily routine:
          </h1>
          <form>
            <p>activities:</p>
            <input type="text" name="act">
            <p>time:</p>
            <input type="time" name="time">
          </form>
          <botton type ="submit" value="submit">submit</botton>
        <button id="closePopup">Close</button>
    </div>
</div>
    
</div>











<script>
    myButton.addEventListener("click", function () {
        myPopup.classList.add("show");
    });
    closePopup.addEventListener("click", function () {
        myPopup.classList.remove("show");
    });
    window.addEventListener("click", function (event) {
        if (event.target == myPopup) {
            myPopup.classList.remove("show");
        }
    });

    myButton2.addEventListener("click", function () {
        myPopup.classList.add("show");
    });
    closePopup.addEventListener("click", function () {
        myPopup.classList.remove("show");
    });
    window.addEventListener("click", function (event) {
        if (event.target == myPopup) {
            myPopup.classList.remove("show");
        }
    });

    myButton3.addEventListener("click", function () {
        myPopup.classList.add("show");
    });
    closePopup.addEventListener("click", function () {
        myPopup.classList.remove("show");
    });
    window.addEventListener("click", function (event) {
        if (event.target == myPopup) {
            myPopup.classList.remove("show");
        }
    });
    myButton4.addEventListener("click", function () {
        myPopup.classList.add("show");
    });
    closePopup.addEventListener("click", function () {
        myPopup.classList.remove("show");
    });
    window.addEventListener("click", function (event) {
        if (event.target == myPopup) {
            myPopup.classList.remove("show");
        }
    });
    myButton5.addEventListener("click", function () {
        myPopup.classList.add("show");
    });
    closePopup.addEventListener("click", function () {
        myPopup.classList.remove("show");
    });
    window.addEventListener("click", function (event) {
        if (event.target == myPopup) {
            myPopup.classList.remove("show");
        }
    });
    myButton6.addEventListener("click", function () {
        myPopup.classList.add("show");
    });
    closePopup.addEventListener("click", function () {
        myPopup.classList.remove("show");
    });
    window.addEventListener("click", function (event) {
        if (event.target == myPopup) {
            myPopup.classList.remove("show");
        }
    });
    myButton7.addEventListener("click", function () {
        myPopup.classList.add("show");
    });
    closePopup.addEventListener("click", function () {
        myPopup.classList.remove("show");
    });
    window.addEventListener("click", function (event) {
        if (event.target == myPopup) {
            myPopup.classList.remove("show");
        }
    });
</script>
</body>
</html>