<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <!-- Link către biblioteca DaisyUI (doar pentru navbar) -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daisyui@4.7.3/dist/full.min.css">
  
  <!-- Link către stilurile tale personalizate -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main2.css') }}">
  
  
 
</head>
<body>

<!-- Navbar folosind stilurile DaisyUI -->
<div class="navbar bg-base-100">
    <a class="btn btn-ghost text-xl">Task-Project</a>
</div>

<div class="container">
    <div class="login form">
      <header>Login</header>
      <form action="{{ url_for('login') }}" method="POST"> 
        <label>Username or Email</label>
        <input name="usernm" type="text" placeholder="Enter your username or email" required> 
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter your password" required> 
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <div role="alert" class="alert alert-warning">
                  <span>{{ message }}</span>
                </div>
                
                    
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        
        <a href="#">Forgot password?</a>
        
        <input type="submit" class="button" value="submit">      
      <div class="signup">
        <span class="signup">Don't have an account?
            <a href="{{ url_for('register') }}">Sign Up</a>
        </span>
      </div>
    </div>
</div>



</body>
</html>
