<!DOCTYPE html>
<html data-theme="emerald">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Task</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.3/dist/full.min.css" rel="stylesheet" type="text/css" /> 
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    
</head>
<!-- <style>
    .main {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
</style> -->
<body>
    <div class="navbar bg-base-100">
        <a href="{{url_for('index')}}" class="btn btn-ghost text-xl">Task-Project</a>
      </div>
      




<div>
  <div class="px-4 sm:px-0">
    <h3 class="text-base font-semibold leading-7 text-gray-900">User Informtion</h3>
    <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Personal details and application.</p>
  </div>
  
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">Username</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{username}}<button class="btn" onclick="my_modal_4.showModal()">change username</button></dd>
        
        <!-- Open the modal using ID.showModal() method -->

        <dialog id="my_modal_4" class="modal">
          <div class="modal-box w-11/12 max-w-5xl">
            <h3 class="font-bold text-lg">Change your username</h3>
            <form action="{{ url_for('change_username') }}" method="POST"> 
              <input name="usernm" type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
            <div class="modal-action">
              <form method="dialog">
                <!-- if there is a button, it will close the modal -->
                <button class="btn">Save</button>
              </form>
              
            </form>
            </div>
          </div>
        </dialog>

      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">Email address</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{email}}</dd>
      </div>
      
      
      
            </li>
          </ul>
        </dd>
      </div>
    </dl>
  </div>
</div>

</body>

</html>
