body{
  background-color: #ededed;
}
.main{
  
  display:flex;
  flex-wrap: wrap;
  
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8b8b8b;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #f31414;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
.active {
  background-color: #aa0404;
}
 
  .box {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    width:300px;
    border: 5px solid black;
    height: 350px;
    
  }
  .top-box{
    border-bottom: 5px solid black;
    width: 300px;
    height: 50px;
    text-align: center;
  }
  
  /* pop out */

  .popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
}
.popup-content button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
}
#myButton #myButton2 #myButton3 #myButton4 #myButton5 #myButton6 #myButton7 {
    background:    #f02c0d;
    border:        0px solid #556699;
    border-radius: 11px;
    width:         100px;
    height:        50px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 23px/50px "Ubuntu", sans-serif;
    text-align:    center;
}
#closePopup{
  background:    #f02c0d;
  border:        0px solid #556699;
  border-radius: 11px;
  width:         100px;
  height:        50px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 23px/50px "Ubuntu", sans-serif;
  text-align:    center;
}
select {
  /* Reset Select */
  appearance: none;
  outline: 10px red;
  border: 1;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #000000;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}